@{
    ViewData["Title"] = "Research info Page";
}

<div class="text-center">
    <h1 class="display-4">A list of 3 pieces of researches will show with their full features. </h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
